// Color Variable
$color-white: rgb(248, 246, 246);
$color-green-main: #47b04a;
$color-green-second: #00a771;

// Font Size
$font16: "16px";
$font15: "15px";
$font14: "14px";
$font13: "13px";
$font12: "12px";
