#root {
    font-family: 'Poppins', 'roboto';
    overflow: hidden;
    background-color: #2d2e2d; 
    height: 100vh;
    // background-image: url('../icon/oute-spacec.svg');
    // background-attachment: fixed;
    // background-size: 450px 500px;
    // background-position: center;
    // background-repeat: no-repeat;
    // color: #fff;
}

 ul > li {
    list-style: none;
 }